@import "https://fonts.googleapis.com/icon?family=Material+Icons";
/* TODO Have to implement importing icons from offline */
.example-spacer {
    flex: 1 1 auto;
  }

.title-container {
    display: flex;
    flex-direction: column;
}  
  